:root{
    --background-page: rgb(202, 187, 167);
    --text-color:rgb(226, 242, 255);
    --principal-color-title: rgb(209, 152, 209);
    --background-main: darkcyan;
}

body{
    margin:auto;
    width:95%;
    background-color: var(--background-page);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

header{
    
}

.titulo-principal{
    position:relative;
    color: var(--text-color);
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    top: 5%;
    left: 20%;
    text-shadow: 1px  0px 0px rgb(255, 255, 255),
               0px  1px 0px white,
              -1px  0px 0px black,
               0px -1px 0px black;
}

.page-theme{
    position: relative;
    top:15%;
    left:25%;
    color: var(--text-color);
    background-color: var(--background-main);
    text-align: center;
    text-shadow: 1px  0px 0px rgb(255, 255, 255),
               0px  1px 0px white,
              -1px  0px 0px black,
               0px -1px 0px black;
    border: none;
    border-radius:15px;
    width: 50%;

    
}
.contenedor-banner{
    position: relative;
    display: inline-block;
    margin: auto;
    background-image: url(../img/design1_image1.jpg);
    border-radius: 15px;
    margin-top:10px;
    width:100%;
}

nav{
    position: relative;
    
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    padding:5px;
    margin: 5px;
    background-color:darkcyan;
}

nav a:hover{
    background-color:rgb(31, 120, 202);
}

.img-design-1{
    position:relative;
    width:10%;
    height:10%;
    left: 90%;
    border-radius: 75%;
}

.logo{
    position:relative;
    border-radius: 10px;
}

main{
    display: block;
    position: relative;
    top:10%;
    left: 10px;
    margin: 10px auto;
    padding: 10px;
    background-color: whitesmoke;
    width: 90%;
    border-radius: 15px;
}

.hockey-image{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

section, form{
    margin:auto;
    padding: 10px;
    background-color: var(--background-main);
}

table{
    margin:auto;

}

span{
    font-weight: bold;
}

th{
    margin:auto;
    padding: 5px;
    background-color:darkgrey;
    color: rgb(255, 255, 255);
}

td{
    margin:auto 5px;
    padding: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color:rgb(248, 165, 248)
}

tr:nth-child(even){
    color: var(--background-main);
    background-color:rgb(255, 225, 255)
}

.maps{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 3px;
    background-color: var(--background-page);
    justify-content: space-evenly;
    align-content: center;
    width: 1000px;
    height: 1200px;
}

.map{
    
    margin: 2px;
    padding: 2px;
    background-color: var(--background-main);
    list-style-type: none;
    border: 1em solid var(--text-color);
    text-align: center;
    width: 150%;
    height: 150px;
    
}

.mis-mapas{
    width: 90%;
    height: 90%;
}

